/*el archivo de estilos debe tener el mismo nombre del componente jsx. En este caso: 'navBar'*/

.principal-title {
  text-decoration: none;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgba(140, 234, 234, 0.596); */
  background-color: rgba(140, 234, 234, 0.717);
  margin-bottom: 10px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.menu ul {
  display: inline;
  justify-content: start;
  list-style: none;
}
.menu ul li {
  display: inline;
  margin: 15px;
  font-size: larger;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.menu ul li a {
  padding: 3px;
  color: #ffff;
  text-decoration: none;
  transition: 0.75s;
}

.menu ul li a:hover {
  color: #000;
}
