.counter {
  display: flex;
  flex-direction: row;
  width: 350px;
  margin: 15px;
  padding: 5px;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 35px;
  margin: 5px;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  border-color: blue;
}
.button {
  width: 20px;
  color: #000;
  font-size: large;
  font-weight: bold;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  padding: 10px;
  font-weight: bold;
  color: #000;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.add-button {
  color: #000;
  font-weight: bold;
  padding: 5px;
  border-style: solid;
  border-color: blue;
  border-width: 2px;
  border-radius: 15px;
  text-decoration: none;
  background-color: rgba(140, 234, 234, 0.37);
  transition: 0.5s;
}
.add-button:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}
